@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Roman.woff2') format('woff2'),
        url('../fonts/Avenir-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-style: normal;
}
