/*
=====================================================================
1. GENERAL
=====================================================================
*/
html {
    position: relative;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}   
body {
    font-family: 'Nitti Grotesk';
    -webkit-font-smoothing: antialiased;
    color: #555555;
    font-weight: bold;
}
html, body {
    min-width: 320px;
    max-width: 1660px;
    margin: 0 auto;
}
main {
    margin: 70px 0 70px;
}
@media only screen and (max-width: 767px) {
    main {
        margin-top: 50px;
        margin-bottom: 125px;
   }
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*
=====================================================================
2. HEADER
=====================================================================
*/

  /* header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
  }
  
  
  .navbar {
    position: relative;
    height: 128px;
    width: 100%;
    transition: 0.5s ease;
  }
  
  .navbar .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-top: 50px;
   margin-right:  120px;
  }
  
  .navbar .nav .item {
    list-style: none;
    display: inline-block;
    color: #585c62;
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.12px;
    margin-right: 84px;
    transition: 0.5s ease;
  }
  .navbar .nav .item:hover{
      color:  black;
      font-weight: 500  ;
  }

  
  .navbar .nav .item a {
    text-decoration: none;
    color: inherit;
  }
  
  .navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 43px;
    margin-left: 265px;
    width: 42px;
    height: 42px;
    transition: 0.5s ease;
  }
  
  .navbar .logo img {
    width: 100%;
  }
  
  .scrolled {
   transition: 0s ease;
  }
  
  .scrolled.navbar {
    height: 50px; 
    background-color: #ffffff;
    transition: 0.5s ease;
  
  }
  .scrolled.navbar .nav{
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-top: 8px;
        margin-right:  120px;
        float: right;
  }
  
  .scrolled.navbar .nav .item {
    line-height: 40px;
    transition: 0.5s ease;
  }
  
  
  .scrolled.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-left: 244px;
    width: 30px;
    height: 30px;
    transition: 0.5s ease;
  }

  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

   */

  /* header */
  
  .header {
    background-color: #fff;
    position: fixed;
    max-width: 1660px   ;
    width: 100%;
    z-index: 3;
    top: 0;
    padding-top: 43px
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
   
  }
  
  .header li a {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    color: #585c62;
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.12px;
    background-color: white;
  }
  .header li a:hover{
    color:  black;
    font-weight: 500;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;

  }
  

  
  .header .logo{
    float: left;
    margin-left: 16%;
 
    width: 42px;
    height: 42px;
   

  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.1s ease-out;
    margin-right: 7.3%;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 32px 24px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .scrolled {
    transition: 0s ease;
   }
   
   .scrolled.header {
     
     background-color: #ffffff;
     transition: 0.5s ease;
     padding-top: 0;
   
   }
   .scrolled.header .menu .icon {
     line-height: 40px;
     transition: 0.5s ease;
   }
   
   
   .scrolled.header .logo {
     float: left;
     display: inline-block;
     margin-top: 10px;
     margin-right: 10px;
     width: 30px;
     height: 30px;
     transition: all .2s ease-out;
     
   }
  /* 48em = 768px */
  @media only screen and (min-width: 950px) {

    .header li {
      float: left;
      margin: 0;
      
    }
    .menu li a {
      padding: 20px 30px;
      text-align: center;
    
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    
    }
    .header .menu-icon {
      display: none;
    }

}

/*
=====================================================================
3. HERO SECTION
=====================================================================
*/
.head-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 128px;
    position:relative;
    
}
.head-img {
    width: 1279px;
    height: auto;
    float: right;
}
.head-img img {
    width: 77%;
    height: auto;
    position: absolute;
    bottom: 0;
}
.head-section h3 {
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 0.2px;
    font-weight: lighter;
    align-self: flex-end;
    margin: 0px 20px 10px 0;
}
.word-bg {
    text-orientation: mixed;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-self: flex-end;
    margin: 0;
}
.word-bg h1 {
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 7.25vw;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 24.48px;
    margin: 0;
}
/*
=====================================================================
4. HISTORY SECTION
=====================================================================
*/
.history-section {
    position: relative;
    margin-bottom: 266px;
}
.text-block-1 h2 {
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    font-style: italic;
    letter-spacing: 0.2px;
    font-weight: lighter;
    margin-top: 6px;
}
.text-block-1 p {
    width: 490px;
    height: 77px;
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06px;
    margin: 0;
    padding-left: 43px;
}
.text-block-1 {
    display: flex;
    margin: 164px 130px 0px 613px;
}
.text-block-2 {
    width: 535px;
    height: auto;
    margin-left: 385px;
    margin-top: 230px;
}
.text-block-2 h3 {
    color: #000000;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.29px;
    margin: 0;
    padding-bottom: 32px;
}
.text-block-2 p {
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06px;
    margin: 0;
}
.text-block-3 {
    width: 724px;
    height: auto;
    margin-left: 380px;
    margin-top: 131px;
}
.text-block-3-container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 724px;
}
.text-block-3 h5 {
    width: 59px;
    height: 11px;
    color: #707070;
    font-family: "Avenir";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.12px;
    margin: 0;
}
.text-block-3-container h2 {
    color: #000000;
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin: 0;
    padding: 25px 53px 0px 0px;
}
.text-block-3-container p {
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.06px;
    margin: 0;
    padding-top: 24px;
}
.history-section img {
    position: absolute;
    left: 77.1%;
    top: 194px;
}
/*
=====================================================================
5. TRANSPORT SECTION
=====================================================================
*/
.transport-box{
    margin-left: 379px;
}
.transport-box h2{
    color: #000000;
    font-family: "Playfair Display";
    font-size: 101px;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin: 0px 0px 85px 0px;
}
.transport-img{
    width: 877px;
    height: 585px;
    position: relative;
}
.transport-img img{
    width: 100%;
}
.transport-img-text {
    position: absolute;
    top: 339px;
}
.transport-img-text h3{
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin: 0px;
}
.transport-img-text p{
    color: #ffffff;
    width: 452px;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.06px;
    margin: 47px 0px 76px 98px;
}
.transport-sidetext {
    width: 216px;
    margin: 332px 0px 0px 69px;
    text-align: justify;
}
.transport-section {
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.transport-sidetext p {
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06px;
    margin: 0 
}
.transport-wiki {
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
   /* Text style for "-, wikiped" */
    letter-spacing: 0.06px;
    color: #000000;
    text-align: right;
}
.transport-more{
    color: #000000;
    font-family: "Playfair";
    font-size: 26px;
    font-weight: 150;
    margin: 96px 0px 0px 120px;
}
.transport-gal-name{
    width: 423px;
    height: auto;
}
.transport-gallery {
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.transport-gal-name h3{
    color: #000000;
    font-family: "Playfair";
    font-size: 53px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8.81px;
    margin: 17px 0px 0px 0px;
}
.transport-container{
    margin-left: 380px;
}
.transport-gal-name p{
    color: #000000;
    font-family: "Avenir";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
   /* Text style for "In london" */
    letter-spacing: 0.41px;
    margin: 13px;
    text-align: right;
}
.transport-gallery {
    width: 1280px;
    height: 280px;
    margin-bottom: 347px;
}
.transport-gal-img{
    width: 420px;
    height: 279px;
    margin-right: 35px;
}
.transport-gal-img-small{
    width: 370px;
    height: 280px;
}
.transport-gallery img{
    width: 100%;
    height: auto;
}
/*
=====================================================================
6. FACT SECTION
=====================================================================
*/
.fact-section{
    margin-bottom: 657px;
}
.fact-title{
    width: 355px;
    height: 82px;
    margin:0px 0px 40px 380px;
}
.fact-title h2{
    color: #000000;
    font-family: "Playfair";
    font-size: 47px;
    font-weight: 400;
    margin: 0;
}
.fact-title h4{
    color: #000000;
    font-family: "Playfair";
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    margin: 16px 0px 0px 202px;
}
.fact-container{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    margin-left: 530px;
    position: relative;
}
.fact-text-left {
    width: 205px;
    height: 256px;
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06px;
    text-align: right;
    margin: 0;
}
.fact-text-middle {
   /* Style for "London Zoo" */
    width: 345px;
    height: 257px;
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
   /* Text style for "London Zoo" */
    letter-spacing: 0.06px;
    margin: 0px 76px 0px 100px;
}
.fact-text-right{
   /* Style for "London Und" */
    width: 332px;
    height: 167px;
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
   /* Text style for "London Und" */
    letter-spacing: 0.06px;
}
.fact-section img{
    position: absolute;
    top: 300px;
    left: 66px;
}
/*
=====================================================================
7. NIGHT SECTION
=====================================================================
*/
.night-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-bottom: 332px;
}
.night-img-container{
    width: 1280px;
    height: 700px;
    position: relative;
}
.night-img-container img{
    width: 100%;
}
.night-text {
    position: absolute;
    width: 621px;
    height: 196px;
    bottom: 0;
    margin: 0px 0px 64px 92px;
}
.night-text h2{
    color: #ffffff;
    font-family: "Playfair";
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 0.18px;
    margin: 0px;
}
.night-text p {
    color: #ffffff;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.06px;
    margin: 0px;
    margin-top: 45px;
}
.night-container h3 {
    color: #000000;
    font-family: "Playfair";
    font-size: 29px;
    font-weight: 400;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-self: flex-end;
    margin: 0;
    margin-right: 82px;
}
/*
=====================================================================
8. PLACES SECTION
=====================================================================
*/
.places-text {
    width: 656px;
    height: auto;
    margin-bottom: 96px;
}
.places-text h2{
    color: #000000;
    font-family: "Playfair";
    font-size: 101px;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin: 0px;
    margin-bottom: 15px;
}
.places-text p{
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06px;
    margin: 0px;
}
.places-big-img {
    width: 877px;
    height: 585px;
    position: relative;
}
.places-big-img img{
    width: 100%;
}
.places-big-text{
    width: 663px;
    height: auto;
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0;
    margin: 0px 53px 51px 0px;
}
.places-big-text h3{
    color: #ffffff;
    font-family: "Playfair";
    font-size: 53px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
}
.places-big-text p{
    color: #ffffff;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06px;
}
.places-images {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
.places-gal-img h4{
    color: #ffffff;
    font-family: "Playfair";
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0px 0px;
}
.places-gal-img img{
    width: 100%;
}
.places-gal-img {
    width: 335px;
    height: 180px;
    position: relative;
    margin: 0px 0px 22px 35px;
}
.places-font-color h4{
    color: #303030;
}
.places-section {
    margin-left: 380px;
    margin-bottom: 264px;
}
/*
=====================================================================
9. INTERESTED SECTION
=====================================================================
*/
.interested-text{
    width: 624px;
    height: auto;
    margin-left: 380px;
    margin-bottom: 104px;
}
.interested-text h2 {
    color: #000000;
    font-family: "Playfair";
    font-size: 101px;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin: 0;
    margin-bottom: 12px;
}
.interested-text p{
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.06px;
    margin: 0;
}
/*
=====================================================================
10. FOOTER
=====================================================================
*/
.footer-container {
    width: 600px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left:380px;
}
.footer-info h3{
    color: #000000;
    font-family: "Playfair";
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.07px;
    margin: 0;
    margin-bottom: 34px;
}
.footer-info p{
    color: #6e7478;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.06px;
    margin: 0;
}
.footer-book{
    width: 135px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #e1e1e1;
    float: right;
    text-align: center;
    margin: 15px 406px 0px 0px;
}
.footer-book h4{
    color: #000000;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.06px;
    display: inline-block;
    margin: 0;
    margin-top: 9px;
}
footer {
    margin-bottom: 194px;
}

/*
=====================================================================
11. GENERAL RESPONSIVE 
=====================================================================
*/
@media only screen and (max-width: 950px) {
    .head-section{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
    
    }
    .word-bg{
    transform: none;
    writing-mode: horizontal-tb; 
    }
    .head-img img{
    position: static;
    }
    .word-bg {
        align-self: center;
    }
    .head-section h3{
        align-self: center;
    }
/*
=====================================================================
12. HEADER MEDIA RESPONSIVE 
=====================================================================
*/

/*
=====================================================================
13. HERO SECTION RESPONSIVE 
=====================================================================
*/
/*
=====================================================================
14. HISTORY SECTION RESPONSIVE 
=====================================================================
*/
/*
=====================================================================
15. TRANSPORT SECTION RESPONSIVE 
=====================================================================
*/
/*
=====================================================================
16. FACT SECTION RESPONSIVE 
=====================================================================
*/
/*
=====================================================================
17. NIGHT SECTION RESPONSIVE 
=====================================================================
*/
/*
=====================================================================
18. PLACES SECTION RESPONSIVE 
=====================================================================
*/
/*
=====================================================================
19. INTERESTED SECTION RESPONSIVE 
=====================================================================
*/
/*
=====================================================================
20. FOOTER RESPONSIVE 
=====================================================================
*/
